---
import Layout from "../../layouts/Layout.astro";
import HeroStone from "../../components/HeroStone.astro";
import { Image } from "astro:assets";

const benefits = [
    {
        title: "Maintenance",
        description:
            "Easy to clean and require minimal maintenance, as they are resistant to stains and don't require sealing or polishing.",
    },
    {
        title: "Durability",
        description:
            "Granite is one of the hardest materials on earth, making it a perfect choice for countertops.",
    },
    {
        title: "Heat Resistant",
        description:
            "Granite is heat resistant, so you can place hot pots and pans directly on the surface without damaging it.",
    },
    {
        title: "Unique",
        description:
            "Each granite slab is unique, with its own colors, patterns, and veining, making your countertop one of a kind.",
    },
];
---

<Layout title="Granite | Granite Impressions">
    <main class="bg-[#efe3ff]">
        <HeroStone
            title="Natural Beauty in your Kitchen"
            description="Discover the timeless beauty of granite with our countertops. He Granite not only offers exceptional strength and durability proven, but also a unique variety of patterns and colors that They adapt to any kitchen style."
            urlImage="/images/background-hero-quartz.jpg"
        />
        <div class="px-4 md:px-8 lg:px-40 py-24 md:py-40 flex flex-col gap-12">
            <h2 class="text-5xl md:text-9xl font-medium w-full lg:w-[900px]">Benefits of Granite</h2>
            <p class="text-2xl font-medium w-full lg:w-[900px]">
                Why choose granite for your kitchen
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                {
                    benefits.map((benefit) => (
                        <div class="flex flex-col gap-5">
                            <h3 class="text-xl font-medium">{benefit.title}</h3>
                            <p class="text-lg">{benefit.description}</p>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="px-4 md:px-8 lg:px-10 pt-10 md:pt-20">
            <div class="rounded-3xl p-10 bg-[#ffeedb] flex flex-col lg:flex-row gap-10">
                <Image
                    src="https://a-us.storyblok.com/f/1017006/1744x1612/2cca8221bd/unearthed.png/m/667x609/filters:quality(80)"
                    alt="review"
                    width={100}
                    height={100}
                    class={"w-full lg:w-[400px] h-auto md:h-[400px] rounded-3xl"}
                />
                <div class="text-[#fb5e21] flex flex-col justify-between gap-10">
                    <p class="text-3xl md:text-5xl">“They spend the time to understand our business and then solve our challenges with an understanding of our users and top-notch design.”</p>
                    <span class="text-base md:text-xl">Zane Prickett</span>
                </div>
            </div>
        </div>
        <div class="px-4 md:px-8 lg:px-10 py-20 md:py-40 flex flex-col lg:flex-row justify-between items-start lg:items-center gap-10 md:gap-20">
            <div class="font-medium flex flex-col gap-2">
                <h4 class="text-[#b488f1] text-5xl md:text-7xl">
                    Ready to transform your kitchen?
                </h4>
                <h5 class="text-4xl md:text-5xl">
                    Contact us today for a free consultation
                </h5>
            </div>
            <div>
                <a
                    href="/contact"
                    class="py-4 px-8 bg-[#b488f1] rounded-full text-xl md:text-5xl font-medium text-[#11052a] hover:bg-[#11052a] hover:text-gray-50"
                    >Get in touch</a
                >
            </div>
        </div>
    </main>
</Layout>
