---
import Contact from "../../components/Contact.astro";
import FloatingMenu from "../../components/FloatingMenu.astro";
---
<header class="bg-[#F3F3E9] px-10 py-5">
    <div>
        <a href="/" class="text-lg font-medium tracking-wide"
            >Granite Impressions</a
        >
    </div>
</header>

<FloatingMenu />
<main>
    <Contact/>
</main>
