---
import Layout from "../../layouts/Layout.astro";
import Contact from "../../components/Contact.astro";
---

<main>
    <Contact/>
</main>
<!-- <Layout title="Contact | Granite Impressions">
</Layout> -->
