---
import Layout from "../../layouts/Layout.astro";
import HeroQuartz from "../../components/Hero-quartz.astro";
import Catalogs from "../../components/Catalogs.astro";
import Capabilities from "../../components/Capabilities.astro";
---

<Layout title="Quartz | Granite Impressions">
    <main>
        <HeroQuartz />
        <Catalogs bg="f3f3e9"/>
        <Capabilities title="quarz" bg1="f3f3e9" bg2="8a8888"/>
    </main>
</Layout>
