---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Banner from "../components/Banner.astro";
import Bento from "../components/Bento.astro";
import WhyWorkWithUs from "../components/WhyWorkWithUs.astro";
import Edges from "../components/Edges.astro";
---

<Layout title="Granite Impressions">
    <main>
            <!-- <Hero />
            <Banner />
            <Bento />
            <WhyWorkWithUs /> -->
        <Edges />
    </main>
</Layout>
