<div class="bg-[#b488f1] px-16 py-40">
    <div class="flex flex-col gap-28">
        <h2 class="text-8xl text-white text-center">
            We design, build and deliver world-class Granite and Quartz
            countertops for forward-thinking homeowners
        </h2>
        <div class="flex flex-row justify-between flex-wrap text-white">
            <div>Supplier 1</div>
            <div>Supplier 2</div>
            <div>Supplier 3</div>
            <div>Supplier 4</div>
        </div>
    </div>
</div>
