---
import BentoItem from "./BentoItem.astro";
import BentoItemWithVideo from "./BentoItemWithVideo.astro";

const graniteUrlSource = "/images/GRANITE.jpg";
const quartzUrlSource = "/images/3Z0HCI1ER5eS_8zq79o_LQ.webp";
---

<div class="bg-[#b488f1] px-10 py-40">
  <div class="flex flex-col gap-4 md:gap-8">
  
    <BentoItemWithVideo
      video='https://player.vimeo.com/video/971051499?badge=0&autopause=0&player_id=0&app_id=58479&autoplay=1&loop=1&controls=0'; 
      image="/images/FONDO.webp"
    />
    <div class="flex flex-row gap-4 md:gap-8">
      <BentoItem title="Granite" urlSource={graniteUrlSource} />
      <BentoItem title="Quartz" urlSource={quartzUrlSource} />
    </div>
    <BentoItemWithVideo
    video='https://player.vimeo.com/video/971051499?badge=0&autopause=0&player_id=0&app_id=58479&autoplay=1&loop=1&controls=0'; 
      image="/images/uDyO-aqHSjiZ4uZ-TEBjKA.webp"
    />
  </div>
</div>
