---
interface Props {
  title: string;
  bg1: string;
  bg2: string;
}
const { title } = Astro.props;
const { bg1 } = Astro.props;
const { bg2 } = Astro.props;
---

<div class="bg-gradient-to-b from-[#f3f3e9] to-[#8a8888] px-16 py-24">
    <div class="flex flex-col gap-28">
      <h2 class="text-8xl text-black text-center">
        Our
        <span class="font-bold text-[#B488F1] uppercase">capabilities</span> are focused
        on our ability to deliver world-class <span
          class="font-bold text-[#B488F1] uppercase">{title}</span
        > construction projects. We work 100% with our in-house team and manage the
        entire process from start to finish, ensuring that each project is delivered
        to the highest standards
      </h2>
      <div class="flex flex-row justify-between flex-wrap text-black gap-16">
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">Design and Planning:</h3>
          <span class="pb-2 text-xl">Architectural design in granite.</span>
          <span class="pb-2 text-xl"
            >Planning of granite construction projects.</span
          >
          <span class="pb-2 text-xl"
            >Optimization of designs for efficiency and aesthetics.</span
          >
          <span class="pb-2 text-xl">Budget and resource management.</span>
          <span class="pb-2 text-xl"
            >Compliance with regulations and standards.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Implementation and Construction:
          </h3>
          <span class="pb-2 text-xl">Installation of granite structures.</span>
          <span class="pb-2 text-xl"
            >Construction of granite walls and surfaces.</span
          >
          <span class="pb-2 text-xl"
            >Precise handling and cutting of granite.</span
          >
          <span class="pb-2 text-xl">Use of advanced assembly techniques.</span>
          <span class="pb-2 text-xl">Quality management and process control.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Maintenance and Repair:
          </h3>
          <span class="pb-2 text-xl">Inspection and preventive maintenance.</span>
          <span class="pb-2 text-xl"
            >Repair of granite structures and surfaces.</span
          >
          <span class="pb-2 text-xl"
            >Restoration of original granite features.</span
          >
          <span class="pb-2 text-xl"
            >Handling of sealers and protective products.</span
          >
          <span class="pb-2 text-xl">Customized maintenance programs.</span>
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">Project Management:</h3>
          <span class="pb-2 text-xl">Detailed schedule planning.</span>
          <span class="pb-2 text-xl">Logistics and resource coordination.</span>
          <span class="pb-2 text-xl"
            >Progress tracking and regular reporting.</span
          >
          <span class="pb-2 text-xl"
            >Risk management and contingency planning.</span
          >
          <span class="pb-2 text-xl"
            >Effective communication with stakeholders.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Innovation and Technology:
          </h3>
          <span class="pb-2 text-xl"
            >Implementation of advanced cutting and polishing technologies.</span
          >
          <span class="pb-2 text-xl">Use of 3D modeling software for design.</span
          >
          <span class="pb-2 text-xl"
            >Research into new granite construction techniques.</span
          >
          <span class="pb-2 text-xl">Integration of automation systems.</span>
          <span class="pb-2 text-xl"
            >Application of sustainable and eco-friendly practices.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Customer Service and Relations:
          </h3>
          <span class="pb-2 text-xl">Personalized customer attention.</span>
          <span class="pb-2 text-xl"
            >Advice on selection of granite materials.</span
          >
          <span class="pb-2 text-xl">Post-sales support and warranties.</span>
          <span class="pb-2 text-xl">Building long-term relationships.</span>
          <span class="pb-2 text-xl"
            >Education and training for clients on maintenance.</span
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-28">
      <h2 class="text-8xl text-black text-center">
        Our
        <span class="font-bold text-[#B488F1] uppercase">capabilities</span> are focused
        on our ability to deliver world-class <span
          class="font-bold text-[#B488F1] uppercase">{title}</span
        > construction projects. We work 100% with our in-house team and manage the
        entire process from start to finish, ensuring that each project is delivered
        to the highest standards
      </h2>
      <div class="flex flex-row justify-between flex-wrap text-black gap-16">
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">Design and Planning:</h3>
          <span class="pb-2 text-xl">Architectural design in granite.</span>
          <span class="pb-2 text-xl"
            >Planning of granite construction projects.</span
          >
          <span class="pb-2 text-xl"
            >Optimization of designs for efficiency and aesthetics.</span
          >
          <span class="pb-2 text-xl">Budget and resource management.</span>
          <span class="pb-2 text-xl"
            >Compliance with regulations and standards.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Implementation and Construction:
          </h3>
          <span class="pb-2 text-xl">Installation of granite structures.</span>
          <span class="pb-2 text-xl"
            >Construction of granite walls and surfaces.</span
          >
          <span class="pb-2 text-xl"
            >Precise handling and cutting of granite.</span
          >
          <span class="pb-2 text-xl">Use of advanced assembly techniques.</span>
          <span class="pb-2 text-xl">Quality management and process control.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Maintenance and Repair:
          </h3>
          <span class="pb-2 text-xl">Inspection and preventive maintenance.</span>
          <span class="pb-2 text-xl"
            >Repair of granite structures and surfaces.</span
          >
          <span class="pb-2 text-xl"
            >Restoration of original granite features.</span
          >
          <span class="pb-2 text-xl"
            >Handling of sealers and protective products.</span
          >
          <span class="pb-2 text-xl">Customized maintenance programs.</span>
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">Project Management:</h3>
          <span class="pb-2 text-xl">Detailed schedule planning.</span>
          <span class="pb-2 text-xl">Logistics and resource coordination.</span>
          <span class="pb-2 text-xl"
            >Progress tracking and regular reporting.</span
          >
          <span class="pb-2 text-xl"
            >Risk management and contingency planning.</span
          >
          <span class="pb-2 text-xl"
            >Effective communication with stakeholders.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Innovation and Technology:
          </h3>
          <span class="pb-2 text-xl"
            >Implementation of advanced cutting and polishing technologies.</span
          >
          <span class="pb-2 text-xl">Use of 3D modeling software for design.</span
          >
          <span class="pb-2 text-xl"
            >Research into new granite construction techniques.</span
          >
          <span class="pb-2 text-xl">Integration of automation systems.</span>
          <span class="pb-2 text-xl"
            >Application of sustainable and eco-friendly practices.</span
          >
        </div>
        <div class="flex flex-col justify-start text-start pb-16">
          <h3 class="pb-4 text-3xl font-bold uppercase">
            Customer Service and Relations:
          </h3>
          <span class="pb-2 text-xl">Personalized customer attention.</span>
          <span class="pb-2 text-xl"
            >Advice on selection of granite materials.</span
          >
          <span class="pb-2 text-xl">Post-sales support and warranties.</span>
          <span class="pb-2 text-xl">Building long-term relationships.</span>
          <span class="pb-2 text-xl"
            >Education and training for clients on maintenance.</span
          >
        </div>
      </div>
    </div>
</div>
