---
import Edge from "./Edge.astro";
---

<div class="px-10 py-40 bg-[#f3f3e9]">
    <h2 class="text-6xl text-[#101e08] font-medium">Edge Upgrade</h2>
    <div class="flex flex-row gap-8 flex-wrap mt-8">
        <Edge />
        <Edge />
        <Edge />
        <Edge />
        <Edge />
    </div>
</div>