---
import Edge from "./Edge.astro";
---

<div class="px-10 py-40 bg-[#f3f3e9]">
    <h2 class="text-6xl text-[#101e08] font-medium">Edge Upgrade</h2>
    <div class="flex flex-row gap-8 flex-wrap mt-8">
        <Edge
        image="/images/1-4-BEVEL-EDGE.jpg"
        title="1/4 BEVEL EDGE" />
        <Edge
        image="/images/1-4-ROUND-EDGE.jpg"
        title="1/4 ROUNDEDGE" />
        <Edge
        image="/images/EASED-EDGE.jpg"
        title="EASED EDGE" />
        <Edge
        image="/images/FULL-BULLNOSE-EDGE.jpg"
        title="FULL BULLNOSE EDGE" />
        <Edge
        image="/images/HALF-BULLNOSE-EDGE.jpg"
        title="HALF BULLNOSE EDGE" />
        <Edge
        image="/images/OGEE-EDGE.jpg"
        title="OGEE EDGE" />
    </div>
</div>