<div class="px-4 md:px-8 lg:px-10 pt-40 pb-20 bg-gray-50 text-[#101e08] flex flex-col gap-8">
    <h3 class="text-7xl w-full md:w-[450px] font-medium hover:text-[#90f188] transition-colors">Let's make something fun</h3>
    <div class="flex flex-row gap-8">
        <div>
            <h4 class="font-medium">Speak to us</h4>
            <p class="opacity-50">+1 913 475 3262</p>
            <p class="opacity-50">quotes@granite-impressions.com</p>
        </div>
        <div>
            <h4 class="font-medium">Kansas</h4>
            <p class="opacity-50">15350 S. KEELER ST. UNIT C OLATHE, KS 66062</p>
        </div>
    </div>
    <div class="pb-1 border-t">
        <small>Granite Impressions © 2024</small>
    </div>
</div>