<div
  class="bg-[#F3F3E9] "
  style={{
    backgroundImage: `url('/svg/quartz-fondo-01.svg')`,
    backgroundSize: "150% 100%",
    backgroundPosition: "center",
  }}
>
  <div class="px-48 py-56 w-screen h-screen">
    <div class="w-[1000px] text-white">
      <h1 class="text-9xl">Quartz</h1>
      <h1 class="text-9xl">Colors</h1>
    </div>
  </div>
  <div class="px-48 py-56 w-screen h-screen">
    <div class="w-[1000px] text-white">
      <h1 class="text-9xl w-1/2">Discover the perfect</h1>
      <h1 class="text-9xl">veins</h1>
    </div>
  </div>
</div>
