---
import Image from "astro/components/Image.astro";
---

<div class="px-2 md:px-10 py-40 bg-[#f3f3e9] flex flex-col gap-8">
  <div>
    <h2 class="md:w-[7.5em] text-6xl md:text-6xl lg:text-9xl font-medium text-[#101e08]">
      Why Work With Us?
    </h2>
  </div>
  <div class="grid md:grid-cols-2 gap-8">
    <div class="flex flex-col justify-between">
      <div class="flex flex-col gap-8">
        <p
          class="text-lg md:text-6xl lg:text-2xl font-medium text-[#101e08] text-justify md:text-6xl lg:text-start"
          style="line-height: 1.6;"
        >
          Choosing Granite Impressions means partnering with a team dedicated to delivering excellence in very project. Here are a few reasons why you should work with us
        </p>
        <div>
          <a
            href="/"
            class="px-4 py-2 bg-[#101e08] text-white rounded-full font-medium hover:bg-[#90f188] hover:text-[#101e08]"
            >Reasons why</a
          >
        </div>
      </div>
      <div>
        <div
          class="flex flex-row text-[#101e08] items-center justify-between md:justify-start py-7  border-b border-[#0000001a]"
        >
          <div class="text-4xl md:text-6xl lg:text-8xl font-medium w-[180px] md:w-[350px]">100%</div>
          <div class="text-3xl font-medium md:w-[250px]">
            Constant Virtual Support
          </div>
        </div>

        <div
          class="flex flex-row text-[#101e08] items-center py-7 border-b border-[#0000001a]"
        >
          <div class="text-4xl md:text-6xl lg:text-8xl font-medium w-[180px] md:w-[350px]">7 days</div>
          <div class="text-3xl font-medium md:w-[250px]">
            Quick Turnaround Time
          </div>
        </div>
        <div
          class="flex flex-row text-[#101e08] items-center py-7 border-b border-[#0000001a]"
        >
          <div class="text-4xl md:text-6xl lg:text-8xl font-medium w-[180px] md:w-[350px]">5 start</div>
          <div class="text-3xl font-medium md:w-[250px]">
            Top-Rated Service
          </div>
        </div>
      </div>
    </div>
    <div>
      <Image
        src="https://firebasestorage.googleapis.com/v0/b/giv2-6c2ea.appspot.com/o/gi%2FwhyUsimage.jpg?alt=media&token=1252ed3c-f049-4bc3-9471-17a631e3d895"
        width={100}
        height={100}
        alt={"why us"}
        class="w-full rounded-3xl"
      />
    </div>
  </div>
</div>
